body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: none;
    background-color: white;
}

#connect-button {
    float: right;
    margin-top: -9px;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#connect-button:hover {
    background-color: #82bf85;
}

#feedback-form {
    margin-top: 60px;
    width: 50%;
    float: left;
}

#user-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #45a049;
}

#feedback-list {
    float: right;
    margin-top: 70px;
    width: 30%;
}

.feedback-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}